
<div  class="flex flex-row ">
        
    <div>
        <img  src="{% static 'media/ATormentaCapa.png' %}" width="350px" height="250px">
    </div>
    <div >
            <img  src="{% static 'media/InimigoSemFace.png' %}" width="350px" height="250px">
    </div>
    <div >
            <img  src="{% static 'media/ImagemTormenta.png' %}" width="350px" height="250px">
    </div>
    <div>
        <img  src="{% static 'media/ATormentaCapa.png' %}" width="350px" height="250px">
    </div>
    <div >
            <img  src="{% static 'media/InimigoSemFace.png' %}" width="350px" height="250px">
    </div>
    <div >
            <img  src="{% static 'media/ImagemTormenta.png' %}" width="350px" height="250px">
    </div>
</div>
